@page
@model AboutModel
@{
    ViewData["Title"] = "About TBGP";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>Turn Based Gaming Platform, made to provide a place to play games that are not real time for busy people. Also with a goal for setting up multiple clients for convenience of the player.</p>
    <p>Github Repo: <a href="https://github.com/VirtualWhirlwind/TBGP.Web" target="_blank">https://github.com/VirtualWhirlwind/TBGP.Web</a></p>
    <p><br /></p>
    <p>Thanks Ken for being a friend.</p>
</div>

