@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>

<div class="text-left">
    <p>Coming soon... (classic internet promise! hahaha)</p>
</div>